.page-header {
  background-image: url("../images/background-sand.jpg");
  background-color: #ffffcc;
  font-weight: bold;
  padding: 0px;
  font-family: sans-serif;
  font-size: 20px;
  color: steelblue;
  border: 1px solid black;
}

.job-title {
  font-weight: bold;
  padding-top: 35px;
  text-align: left;
}

.name {
  height: "100px";
  line-height: "100px";
  padding-top: 35px;
}

.header-img {
  height: 100%;
}

.aboutme {
  font-size: 25px;
  font-weight:bold;
  color: darkcyan;  
}

.work-experience {
  text-align: justify;
}

.work-experience h3 {
  text-decoration: underline;
  color: darkcyan;
}

.employer-header {
/*  border-bottom: 2px dotted black; */
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.aboutme-sub-subheader {
/*  border-bottom: 2px dotted black; */
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.education {
  text-align: justify;
  border-left: 1px solid black;
}

.education h3 {
  text-decoration: underline;
  color: darkcyan;
}
